[Unit]
Description = TAW Janu Flow runtime

[Service]
Type=simple
Environment=RUST_LOG="janu-flow=info"
PIDFile=/var/janu-flow/runtime.pid
ExecStart = /usr/bin/janu-flow-daemon -c /etc/janu-flow/runtime.yaml
KillMode=mixed
KillSignal=SIGINT
RestartKillSignal=SIGINT
Restart=on-failure
User=januflowd
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=janu-flow-runtime
[Install]
WantedBy=multi-user.target
